`pandas` and `numpy` work hand in hand. I always import both libraries whenever I am working with tabular data with `pandas`.

In [1]:
import pandas as pd
import numpy as np

print('pandas version: ', pd.__version__)
print('numpy version: ', np.__version__)

pandas version:  1.2.0
numpy version:  1.19.4

# Creating a dataframe

Let's create dataframes from mock data in lists, tuple, dictionary, and `numpy`.

**Why creating mock data?**
Most often than not, you will be handed data pieces that are not formatted nicely into a table (e.g., .tsv, .csv). So, knowing how to transform lists of lists or a dictionary into a dataframe can save you a lot of time. Creating a small mock dataset can be useful when you are testing out code you found online (e.g. from StackOverflow). Instead of testing it out on your entire dataset, which can be large and time consuming, you can test the code quickly on a smaller data, and then, once you are sure the code does what you need it to do, you can apply it to our entire dataset.

In the examples that follow, I'll be using random sample identifications and values to build dataframes.

## from lists

In [2]:
# lists with corresponding data
list_names = ['sample_1', 'sample_2', 'sample_3', 'sample_4']
list_values = [33, 45, 99, 87]

# make a df, and pass the column names
pd.DataFrame(list(zip(list_names, list_values)), columns=['sampleID', 'value'])

   sampleID  value
0  sample_1     33
1  sample_2     45
2  sample_3     99
3  sample_4     87

Teoretically, `list(zip(list_names, list_values))` zips two lists into a list of tuples. Each item in the list (== each tuple) becames a row.

In [3]:
# this is what list(zip()) returns
list(zip(list_names, list_values))

[('sample_1', 33), ('sample_2', 45), ('sample_3', 99), ('sample_4', 87)]

This also applies if you have a list of lists, but, in this case, we don't need to zip them.

In [4]:
# using list of lists
list_of_lists = [['sample_1', 33], ['sample_2', 45], ['sample_3', 99],
                 ['sample_4', 87]]

# same as before, but no need to list(zip())
pd.DataFrame(list_of_lists, columns=['sampleID', 'value'])

   sampleID  value
0  sample_1     33
1  sample_2     45
2  sample_3     99
3  sample_4     87

## from dictionary

There are a few ways to transform a dictionary into a dataframe, and it depends on how your dictionary is structured.

### keys as rows

If you want keys into rows, we have to pass `orient='index'` (index refers to rows).

In [5]:
# dictionary with data
dict_data = {'sample_1': 33, 'sample_2': 45, 'sample_3': 99, 'sample_4': 87}

pd.DataFrame.from_dict(dict_data, orient="index")

           0
sample_1  33
sample_2  45
sample_3  99
sample_4  87

If you have values of each key as a list, this is how it would turn out:

In [6]:
# dictionary with data, values as lists
dict_data = {
    'sample_1': [33, 10, 1.2],
    'sample_2': [45, 8, 1.0],
    'sample_3': [99, 5, 2],
    'sample_4': [87, 4.5, 1.75]
}

# we can also pass column names
pd.DataFrame.from_dict(dict_data,
                       orient='index',
                       columns=['reader_1', 'reader_2', 'reader_3'])

          reader_1  reader_2  reader_3
sample_1        33      10.0      1.20
sample_2        45       8.0      1.00
sample_3        99       5.0      2.00
sample_4        87       4.5      1.75

### keys as columns

The default is to turn dictionary keys into columns, i.e., `orient='columns'`.

In [7]:
# dictionary with data, values as lists
dict_data = {
    'sample_1': [33, 10, 1.2],
    'sample_2': [45, 8, 1.0],
    'sample_3': [99, 5, 2],
    'sample_4': [87, 4.5, 1.75]
}

pd.DataFrame(dict_data)

   sample_1  sample_2  sample_3  sample_4
0      33.0      45.0        99     87.00
1      10.0       8.0         5      4.50
2       1.2       1.0         2      1.75

<a id='from_url'></a>
## from data in a URL

We often come across tabular data online freely available for people to use. You could download the data or save it in your computer prior to analyzing it, but that is not super necessary. For example, the TidyTuesday project (this is an R project, but nevermind...). 

A new dataset is posted weekly on their [GitHub repo](https://github.com/rfordatascience/tidytuesday) so people in the community can practice and sharpen their data science skills. Their latest dataset was [Christmas Music Billboards](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-12-24). 

We'll need the raw data and URL link. This is how you get it:

1. Go to the [repo](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-12-24), and click on `christmas_songs.csv`:
<img src="github_1.png" alt="First step" style="width: 1000px;"/>

2. Click in `raw` on the right:
<img src="github_2.png" alt="Second step" style="width: 1000px;"/>

3. Finally, select and copy the URL:
<img src="github_3.png" alt="Third step" style="width: 900px;"/>

We're ready, let's import these data:

In [8]:
# paste the url here
data_from_url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-12-24/christmas_songs.csv'

Before we can import, we have to load two other libraries for this to work:

In [9]:
# import
import io
import requests

In [10]:
# don't worry about knowing what each step does
# basically:

s = requests.get(
    data_from_url
).content  # this line transforms the url into a string of text

s = io.StringIO(
    s.decode('utf-8')
)  # this makes an utf-8 decoded object that pandas can parse into a df

df = pd.read_csv(s)  

df.head()

,url,weekid,week_position,song,performer,songid,instance,previous_week_position,peak_position,weeks_on_chart,year,month,day
0,http://www.billboard.com/charts/hot-100/1958-1...,12/13/1958,83,RUN RUDOLPH RUN,Chuck Berry,Run Rudolph RunChuck Berry,1,NaN,69,3,1958,12,13
1,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,57,JINGLE BELL ROCK,Bobby Helms,Jingle Bell RockBobby Helms,1,NaN,29,19,1958,12,20
2,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,73,RUN RUDOLPH RUN,Chuck Berry,Run Rudolph RunChuck Berry,1,83.0,69,3,1958,12,20
3,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,86,WHITE CHRISTMAS,Bing Crosby,White ChristmasBing Crosby,1,NaN,12,13,1958,12,20
4,http://www.billboard.com/charts/hot-100/1958-1...,12/27/1958,44,GREEN CHRI$TMA$,Stan Freberg,Green Chri$tma$Stan Freberg,1,NaN,44,2,1958,12,27

[UTF-8](https://en.wikipedia.org/wiki/UTF-8) stands for Unicode Transformation Format - 8-bit, and it's a way to encode characters (like letters, spaces, tabs, etc.) for electronic communication.

## from clipboard

Another very quick an easy way to create a dataframe is using data in the clipboard. I would recommend this method only if you need a quick dataframe to test out code because this method is not very reproducible.

For example, if you found some code on StackOverflow. If the author of the issue posted the questions some mock data, you can copy those data to your clipboard, quickly read into a dataframe, and test out the answers to see if they work properly.

1. Going back to our raw URL, we can select and copy the first 10 rows of the dataset like so:
<img src="github_4.png" alt="Third step" style="width: 900px;"/>

2. Then, run the code below. I recommend storing the dataframe in a variable, so you can clear your clipboard, or copy and paste something else without having to redo this step many times.

In [11]:
# also, use the argument sep = ',' to make sure pandas parse it as a csv
df = pd.read_clipboard(sep=',')
df.head()

,url,weekid,week_position,song,performer,songid,instance,previous_week_position,peak_position,weeks_on_chart,year,month,day
0,http://www.billboard.com/charts/hot-100/1958-1...,12/13/1958,83,RUN RUDOLPH RUN,Chuck Berry,Run Rudolph RunChuck Berry,1,NaN,69,3,1958,12,13
1,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,57,JINGLE BELL ROCK,Bobby Helms,Jingle Bell RockBobby Helms,1,NaN,29,19,1958,12,20
2,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,73,RUN RUDOLPH RUN,Chuck Berry,Run Rudolph RunChuck Berry,1,83.0,69,3,1958,12,20
3,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,86,WHITE CHRISTMAS,Bing Crosby,White ChristmasBing Crosby,1,NaN,12,13,1958,12,20
4,http://www.billboard.com/charts/hot-100/1958-1...,12/27/1958,44,GREEN CHRI$TMA$,Stan Freberg,Green Chri$tma$Stan Freberg,1,NaN,44,2,1958,12,27

## using `numpy`

Sometimes we might need to create a larger dataframe or we just don't want to waist time typing. So, we can create a dataframe using `np.random.rand()` or `np.random.randint()`.

### `np.random.rand()`

This function creates an array of a given shape (number of rows and number of columns), and populates it with random values from 0 to 1. We can then pass this array into a pandas dataframe:

In [12]:
# we pass the np.random.rand(number of rows, number of columns)
# also pass column names
pd.DataFrame(np.random.rand(5,3), columns=['reader_1', 'reader_2', 'reader_3'])

   reader_1  reader_2  reader_3
0  0.301925  0.413919  0.762968
1  0.192374  0.265269  0.015807
2  0.979220  0.950672  0.450469
3  0.906519  0.771947  0.769169
4  0.842017  0.906053  0.615565

In [13]:
# another way to set column names, but
# the string must have the same number of character as number of columns
pd.DataFrame(np.random.rand(5,3), columns=list('abc'))

          a         b         c
0  0.843810  0.681818  0.475494
1  0.572422  0.432857  0.699931
2  0.736380  0.263122  0.273556
3  0.583622  0.179470  0.291610
4  0.964920  0.595246  0.352042

### `np.random.randint()`

This function creates an array of a given shape (number of rows, number of columns) with random values from the given distribution. This is useful if we want to work with higher numbers, like percentages. We can then transform the array into a dataframe like so:

In [14]:
# we set a distribution as low = 0 and high = 101
# and we set the shape as size = (number of rows, number of columns)
pd.DataFrame(np.random.randint(low = 0, high = 101, size=(5, 3)), columns=list('abc'))

    a   b   c
0  39  91  66
1  55  67  77
2  91  49  56
3  10  33  44
4  75  66  44

I wanted a distribution from 0 to 100%, for this example. So we had to use 101 as the higher value of the distribution, because the *high* value is not inclusive. This information is in the documentation of this [function](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html).

It's really important to check online when you are not exactly sure how to use a function, or if you want to know other arguments and parameters a function can take.

# Import tabular data

If you downloaded data from the web, or if you have your own dataset, you can import the data using `pd.read_csv()`, which we used [before](#from_url).

If you have your own dataset, make sure the file is in your path or you know the path of your file, and jump over to this [cell]().

Let's download the Christmas song dataset we used [here](#from_url). We should have the link in our environment, if not this was the url link:

In [15]:
data_from_url

'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-12-24/christmas_songs.csv'

Then, you could manually download the file from GitHub, and move it into the directory you have your notebook. 

Another option is to install [`wget`](https://pypi.org/project/wget/), and use the `wget.download()` function. 

A third option, which I'll use here, is to use Jupyter magic. We'll leverage Jypter magic tricks to run the `wget` bash command to download the datafile. DISCLAIMER: I am not sure if this works for Windows OS.

In [16]:
%%bash
wget https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-12-24/christmas_songs.csv

--2021-01-01 16:00:34--  https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-12-24/christmas_songs.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63106 (62K) [text/plain]
Saving to: ‘christmas_songs.csv.1’

     0K .......... .......... .......... .......... .......... 81% 1.52M 0s
    50K .......... .                                          100% 2.57M=0.04s

2021-01-01 16:00:35 (1.65 MB/s) - ‘christmas_songs.csv.1’ saved [63106/63106]

The datafile is now downloaded in my current directory. Let's finally import the data!

In [17]:
pd.read_csv('christmas_songs.csv').head()

,url,weekid,week_position,song,performer,songid,instance,previous_week_position,peak_position,weeks_on_chart,year,month,day
0,http://www.billboard.com/charts/hot-100/1958-1...,12/13/1958,83,RUN RUDOLPH RUN,Chuck Berry,Run Rudolph RunChuck Berry,1,NaN,69,3,1958,12,13
1,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,57,JINGLE BELL ROCK,Bobby Helms,Jingle Bell RockBobby Helms,1,NaN,29,19,1958,12,20
2,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,73,RUN RUDOLPH RUN,Chuck Berry,Run Rudolph RunChuck Berry,1,83.0,69,3,1958,12,20
3,http://www.billboard.com/charts/hot-100/1958-1...,12/20/1958,86,WHITE CHRISTMAS,Bing Crosby,White ChristmasBing Crosby,1,NaN,12,13,1958,12,20
4,http://www.billboard.com/charts/hot-100/1958-1...,12/27/1958,44,GREEN CHRI$TMA$,Stan Freberg,Green Chri$tma$Stan Freberg,1,NaN,44,2,1958,12,27

# More resources

There are many other ways to create dataframes, and import data into a `pandas` dataframe. If you use Excel a lot 🤢, you might find `read_excel()` very useful 🤮. 

`pandas` support many other file formats such as json, hdf5. Check out more ways to import data [here](https://pandas.pydata.org/docs/user_guide/io.html).

You can also check the documentation of a function here, from the notebook:

In [18]:
?pd.read_csv